@font-face {
  font-family: Avenir-bold;
  src: url("../assets/fonts/Avenir-Bold.otf");
}
@font-face {
  font-family: Avenir-italic;
  src: url("../assets/fonts/Avenir-It.otf");
}
@font-face {
  font-family: Avenir-regular;
  src: url("../assets/fonts/Avenir-Regular.otf");
}

$work-sans: "Work Sans", sans-serif;
$avenir-regular: Avenir-regular;
$avenir-italic: Avenir-italic;
$avenir-bold: Avenir-bold;
$primary-text-color: #213f7d;
$primary-text-color-light: rgba(#213f7d, 0.4);
$secondary-text-color: #545f7d;
$tertiary-text-color: #39cdcc;
$red-text-color: #e4033b;
$active-nav-bg: rgba(#39cdcc, 0.06);
$primary-hover-bg: rgba(#39cdcc, 0.06);
$secondary-hover-bg: rgba(#545f7d, 0.06);
$dashboard-bg: #fbfbfb;
$white: #ffffff;
$black: #000000;
$h1-color: #213f7d;
$h2-color: #545f7d;
$h3-color: #212b36;
$border-color: rgba(#213f7d, 0.1);

@mixin mozilla-scrollbar {
  scrollbar-width: none;
}
@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
@mixin tabs-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.root {
  max-width: 1440px;
  margin: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}