@use "./global" as g;

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;

  main {
    display: flex;
    position: relative;
    overflow-y: auto;
    overflow-x: visible;
    height: calc(100vh - 100px);

    @include g.mozilla-scrollbar;
    @include g.custom-scrollbar;

    @media (max-width: 768px) {
      height: calc(100vh - 80px);
    }

    @media (max-width: 480px) {
      height: calc(100vh - 70px);
    }
  }
}