@use "./global.scss" as g;

.container {
  padding: 7px 12px;
  background-color: rgba(33, 63, 125, 0.1);
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  border-radius: 4px;
  display: inline-flex;
  width: fit-content;
  cursor: pointer;
  transition: all 200ms ease;
  position: relative;

  @media (max-width: 600px) {
    padding: 10px 16px;
    gap: 15px;
  }

  &:hover {
    background-color: rgba(33, 63, 125, 0.4);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: g.$primary-text-color;

    @media (max-width: 600px) {
      font-size: 15px;
    }
  }

  img {
    @media (max-width: 600px) {
      width: 14px;
      height: 14px;
    }
  }
}
.options {
  position: absolute;
  background-color: rgba(33, 63, 125, 0.1);
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  left: 0;
  top: 35px;
  backdrop-filter: blur(3px);
  z-index: 10;

  @media (max-width: 600px) {
    top: 42px;
  }

  p {
    padding: 8px 12px;
    transition: all 300ms ease;

    @media (max-width: 600px) {
      padding: 12px 16px;
      font-size: 15px;
    }

    &:last-child {
      padding: 8px 12px;

      @media (max-width: 600px) {
        padding: 12px 16px;
      }
    }

    &:hover {
      background-color: rgba(33, 63, 125, 0.4);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);
    }
  }
}